.col-cart-table__head {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.col-cart-table__head h2 {
    font-size: 14px;
    width: 20%;
}

.cart-table__content {
    display: flex;
}
.cart-table__content-img  {
    width: 20% !important;
}
.cart-table__content-img img {
    width: 5rem;
}

.cart-table__content-title {
    width: 20%;
}

.cart-table__content-price, .cart-table__content-quantity {
    width: 20%;
}
.cart-table__content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
}

.cart-table__content-title {
    flex-direction: column;
}

.cart-footer {
    display: flex;
    justify-content:flex-end;
    padding-right: 6rem;
}
.cart-items-container {
    padding-top:5rem ;
}


button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root a {
    color: white;
}

.btn-delete {
    color: black !important;
}
.cart-checkout__total {
    margin: 1rem;
}
/* Formulario */
form.form-contact {
    display: flex;
    flex-direction: column;
}
.form-contact h3{
    text-align: center;
}
form.form-contact > div{
    margin: 0.5rem;
}
/* Post Formulario */
.container-orden-generada{
    text-align: center;
}


